body {
	background-color: #f5f5f1;
	font-family: Arial, Helvetica, Sans-serif;
	color: #333;
}

.center {
	text-align: center;
}

.row {
	padding: 0 1em;
}

.contain-to-grid {
	margin-bottom: 30px;
	background-color: #efefeb;
	color: #333;
}

.top-bar {
	background-color: #efefeb;

	.top-bar.expanded .title-area {
		background-color: #efefeb;
		color: #333;
	}
	.name h1 a {
		font-family: Guardian-Egyptt, Georiga, Serif;
		font-weight: 400;
		font-size: 2em;
		color: #d5641c;
	}
	.left li:not(.has-form) a:not(.button),
	.right li:not(.has-form) a:not(.button),
	.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
		background-color: #efefeb;
		font-weight: bold;
		font-size: 1em;
		color: #0192b5;
	}
	.left li:not(.has-form) a:not(.button):hover,
	.right li:not(.has-form) a:not(.button):hover,
	.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button):hover {
		background-color: #efefeb;
		font-weight: bold;
		font-size: 1em;
		color: #d5641c;
	}
	.top-bar-section .has-dropdown > a:after {
	    border-color: #0192b5 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
	}
}

.item-listing .panel a {
		padding-right: 10px;
}

.item-listing.medium-4.large-4.columns:nth-child(3n+1) {
	clear: left;
}

.item-listing.medium-4.large-4.columns:last-child {
	float: left;
}

.caption {
	h3 {
		font-size: 1.3em;
		margin: 2px;
	}
	p {
		font-size: 0.8rem;
		margin: 0;
	}
}

