/* Colors Scheme */
$fiercered: #e82a2a;
$deepred: #751717;
$beige: #f5f5f1;
$tintgrey: #efefeb;
$mediumgrey: #333;
$coolorange: #d5641c;
$bluetint: #0192b5;

/* End of Colors */

body {
	background-color: $beige;
	font-family: Arial, Helvetica, Sans-serif;
	color: $mediumgrey;
}

.center {
	text-align: center;
}

.row {
	padding: 0 1em;
}

.alert-box.alert {
		background-color: $fiercered;
		border-color: $fiercered;
}

.alert-box.alert h5 {
	color: $deepred;
}

.contain-to-grid {
	margin-bottom: 30px;
	background-color: $tintgrey;
	color: $mediumgrey;
}

.top-bar {
	background-color: $tintgrey;

	.top-bar.expanded .title-area {
		background-color: $tintgrey;
		color: $mediumgrey;
	}
	.name h1 a {
		font-family: Guardian-Egyptt, Georiga, Serif;
		font-weight: 400;
		font-size: 2em;
		color: $coolorange;
	}
	.left li:not(.has-form) a:not(.button),
	.right li:not(.has-form) a:not(.button),
	.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
		background-color: $tintgrey;
		font-weight: bold;
		font-size: 1em;
		color: $bluetint;
	}
	.left li:not(.has-form) a:not(.button):hover,
	.right li:not(.has-form) a:not(.button):hover,
	.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button):hover {
		background-color: $tintgrey;
		font-weight: bold;
		font-size: 1em;
		color: $coolorange;
	}
	.top-bar-section .has-dropdown > a:after {
	    border-color: $bluetint rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
	}
}

.item-listing .panel .caption a {
	padding-right: 10px;
}

.item-listing.medium-4.large-4.columns:nth-child(3n+1) {
	clear: left;
}

.item-listing.medium-4.large-4.columns:last-child {
	float: left;
}

.caption {
	h3 {
		font-size: 1.3em;
		margin: 2px;
	}
	p {
		font-size: 0.8rem;
		margin: 0;
	}
}

